@page
@model IndexModel
@{


    <script src="~/js/classes.
js"></script>

    <body>
        <table id="table_classes">
            <thead>
                <tr>
                    <td>Klasse</td>
                </tr>
            </thead>
            @foreach (var c in Model.Classeslist)
            {
                <tr>
                    <td>@c.ClassName</td>
                    <td>
                        <form asp-route-id="@c.ClassName" method="post" asp-page-handler="Edit">
                            <input type="submit" name="delete" class="btn btn-info" value="Bearbeiten" />
                        </form>
                    </td>
                    <td>
                        <form asp-route-id="@c.ClassName" method="post" asp-page-handler="Delete">
                            <input type="submit" name="delete" class="btn btn-warning" value="Löschen" />
                        </form>
                    </td>
                </tr>
            }
        </table>
    </body>

    <h1>@Model.Message</h1>
}
