@page
@model Admin_SettingsModel
@{
    ViewData["Title"] = "Admin";


    <body>

        <h1>Konferenzeinstellungen</h1>

        <form name="form" id="form" method="post">
            <input type="submit" class="btn btn-primary" value="Konferenz zurücksetzen" asp-page-handler="Reset" onclick="return confirm('Sind Sie sicher, dass sie den Konferenzstatus zurücksetzen möchten?');">
            <input type="submit" class="btn btn-primary" value="Daten in DB schreiben" asp-page-handler="SetJsonData" onclick="return confirm('Sind Sie sicher, dass Sie die Reihenfolge übernehmen möchten');">

        </form>


    </body>


    <script src="~/js/admin_index.js"></script>

}
