@page
@model Admin_SettingsModel
@{

    <body>

        <h1>Konferenzeinstellungen</h1>

        <form name="form" id="form" method="post">
            <input type="submit" class="btn btn-info" value="Konferenz zurücksetzen" asp-page-handler="Reset" onclick="return confirm('Sind Sie sicher, dass sie den Konferenzstatus zurücksetzen möchten?');">
            <input type="submit" class="btn btn-info" value="JSON Order übernehmen" asp-page-handler="SetJsonData" onclick="return confirm('Sind Sie sicher, dass Sie die Reihenfolge übernehmen möchten');">

        </form>


    </body>


    <script src="~/js/admin_index.js"></script>

}
