@page
@model ConferenceModel
@{
    ViewData["Title"] = "Übersicht";

    <link rel="stylesheet" href="~/css/site.css" />
    <body>

        @{
            @using System.Security.Claims;
            var identity = User.Identity as ClaimsIdentity;
            string userID = identity.Claims.FirstOrDefault(c => c.Type == "preferred_username")?.Value;
            @Html.HiddenFor(x => userID);
        }

        <div>

            <div id="room1" style="float: left; padding-right: 200px; padding-bottom: 20px;">
                <h1 id="r1_room"></h1>
                <h2 id="r1_classname"></h2>

                <div id="conference1_class_info">
                    Klassenvorstand: <p id="r1_formTeacher"></p>
                    Abteilungsvorstand: <p id="r1_headOfDepartment"></p>
                    Startzeitpunkt: <p id="r1_time"></p>
                </div>

                <h3>Abgeschlossene Klassen</h3>
                <table id="r1_classesCompleted"></table>

                <h3>Nächste Klassen</h3>
                <table id="r1_classesNotEdited"></table>

            </div>

            <div id="room2">
                <h1 id="r2_room"></h1>
                <h2 id="r2_classname"></h2>

                <div id="conference2_class_info">
                    Klassenvorstand: <p id="r2_formTeacher"></p>
                    Abteilungsvorstand<p id="r2_headOfDepartment"></p>
                    Startzeitpunkt: <p id="r2_time"></p>
                </div>

                <h3>Abgeschlossene Klassen</h3>
                <table id="r2_classesCompleted"></table>

                <h3>Nächste Klassen</h3>
                <table id="r2_classesNotEdited"></table>
            </div>
        </div>
    </body>

    <div id="notiContent" class="panel panel-default" Css style="visibility: visible;">
        <div class="panel-heading">Benachrichtigungen</div>
        <div class="panel-body">
            <p>Diese Seite möchte Ihnen Benachrichtigungen senden. Sind Sie damit einverstanden?</p>
            <button class="btn btn-primary" Onclick="yesToNotifications()">Ja</button>
            <button class="btn btn-default" Onclick="noToNotifications()">Nein</button>
        </div>

    </div>

    <script type="text/javascript">
    </script>


    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/user_view.js"></script>

}