@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Klassenkonferenz - Schuljahr @(DateTime.Today.Year - 1)/@DateTime.Today.Year</h1>

<h4>Wilkommen zum offiziellen Managementsystem für schulinterne Klassenkonferenzen!</h4>
<h4>Sehr geehrter Nutzer! Um fortzufahren, müssen Sie sich zuerst mit ihrem Microsoftkonto anmelden.<br />
    Im Anschluss werden Sie auf Ihre entsprechende Seite weitergeleitet.<br />
    Drücken Sie <a asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">hier</a>, um zur Office-365-Anmeldung zu gelangen</h4>
