@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Klassenkonferenz - @Model.SchoolYear</h1>

<h4>Wilkommen zum offiziellen Managementsystem für Klassenkonferenzen der HTL Vöcklabruck!</h4>
<h4>Um fortzufahren, müssen Sie sich zuerst mit ihrem Microsoftkonto anmelden.<br />
    Im Anschluss werden Sie auf die entsprechende Seite weitergeleitet.<br />
    Drücken Sie <a asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">hier</a>, um zur Office-365-Anmeldung zu gelangen</h4>
