@page
@model ModeratorSelectionModel
@{
    <div class="container body-content">
        <h3>In welchem Raum moderieren Sie?</h3>
        @foreach (var order in Model.OrderList)
        {
            <form name="form" id="form" method="post" asp-route-room="@order.Room_only">
            <input type="submit" class="btn btn-info" style="margin-bottom: 5px;" value="@order.Room">
            </form>
        }
    </div>
}

