@page
@model ModeratorModel
@{ 

<body>

    <h1 id="test"></h1>

    <h1 id="room"></h1>

    <h1 id="classname"></h1>

    <h1>Überschneidungen</h1>
    <table id="intersections"></table>


    <h1>Lehrer</h1>
    <table id="teachers"></table>

    <h1>Abgeschlossene Klassen</h1>
    <table id="classes_completed"></table>

    <h1>Nächste Klassen</h1>
    <table id="classes_notedited"></table>


    <input type="button" class="btn btn-info" id="sendButton" value="Besprechung" />

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/moderator_view.js"></script>

</body>

}
