@page
@model ModeratorModel
@{ 

<body>
    <h1 id="room"></h1>

    <div>

        <h2 id="classname"></h2>

        <p><b>Klassenvorstand</b></p>
        <p id="formTeacher"></p>

        <p><b>Abteilungsvorstand</b></p>
        <p id="headOfDepartment"></p>

        <p><b>Startzeitpunkt</b></p>
        <p id="time"></p>
    </div>

    <div id="container_Intersections">
        <h3>Überschneidungen</h3>
        <table id="intersections"></table>
    </div>

    <div>
        <h3>Lehrer</h3>
        <table id="teachers"></table>
    </div>

    <div>
        <h3>Abgeschlossene Klassen</h3>
        <table id="classesCompleted"></table>

        <h3>Nächste Klassen</h3>
        <table id="classesNotEdited"></table>
    </div>

    <input type="button" class="btn btn-info" id="sendButton" value="Besprechung" />

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/moderator_view.js" type="module"></script>
    <script src="~/js/functions.js" type="module" ></script>

</body>

}
