@page
@model AddModel
@{

<body>

    <form name="form" id="form" method="post">
        <table>

            <tbody>
                <tr>
                    <td>Nachname</td>
                    <td><input type="text" name="lastname" value="" /></td>
                </tr>
                <tr>
                    <td>Vorname</td>
                    <td><input type="text" name="firstname" value="" /></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="id" value="" /></td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn btn-info" value="Hinzufügen"></td>
                </tr>
            </tbody>
        </table>
    </form>
    <form action="/Diplomarbeit/Admin">
        <input type="submit" class="btn btn-info" value="Abbrechen" />
    </form>

    <h1>@Model.Message</h1>
</body>
    
    
}
