@page
@model Managementsystem_Classconferences.Pages.Diplomarbeit.Admin.SettingsModel
@{

<body>

    <h1>Konferenzeinstellungen</h1>

    <form name="form" id="form" method="post">
        <input type="submit" class="btn btn-info" value="Konferenz zurücksetzen" asp-page-handler="Reset">
        <input type="submit" class="btn btn-info" value="JSON Order übernehmen" asp-page-handler="SetJsonData">

    </form>


</body>
}
