@page
@model IndexModel
@{

    @foreach (var order in Model.OrderList)
    {
        <form name="form" id="form" asp-route-room="@order.Room_only" method="post">
    <input type="submit" class="btn btn-info" value="@order.Room">
</form>


        }
    }
