@page
@model IndexModel
@{


    @foreach (var order in Model.Orderlist)
    {
        <form method="post" asp-route-room ="@order.Room_short">
            <button type="submit" class="btn btn-info">@order.Room</button>
        </form>
    }
}
