@page
@model SignalrModel
@{ 


<div class="container">
   
    <input type="button" id="sendButton" value="Send Message" />
                      
    
    <h1>I am the message</h1>

    <table id="table"></table>
            
            
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

    }